#demos .ui.label {
    background: #94182f;
    color: white;
}

#demos form {
    display: flex;
    flex-direction: column;
}

#demos .error {
    background-color: #fff6f6;
    border: 1px solid red;
}

#demos label {
    display: flex;
    flex-direction: column;
}

#demos label span {
    min-width: 150px;
}

@media (min-width: 600px) {
    #demos label {
        display: flex;
        flex-direction: row;
    }
}