
    /* best practice for box-sizing
                https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    img {
        box-sizing: content-box;
    }

    body {
        background-color: #dadada;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        grid-gap: 5px 10px;
        max-width: 1024px;
        margin: 0 auto;
        font: 1.2em Helvetica, arial, sans-serif;
    }

    /*all *first* descendents of .wrapper class (should mostly be semantic elements*/
    .wrapper > * {
        /*border: 2px solid #f08c00;*/
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        /*by default take the entire row (ex: header/footer)*/
        grid-column: col-start / span 12;
    }

    .profile img {
        width: 100%;
    }

    .profile > section {
        padding-bottom: 10px;
    }

    .profile section .name {
        font-size: larger;
        font-weight: bold;
    }

.main-head, .main-footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .main-footer .copyright {
        font-size: x-small
    }

    .main-nav .nav-component {
        display: grid;
        grid-template-columns: 40px 5fr 1fr;
    }

    .nav-component .links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .nav-component .links a {
        padding-right: 20px;
    }

    .nav-component a {
        font-size: .85em;
        color: #2185d0;
    }

@media (min-width: 550px) {
    .main-head {
        grid-column: col-start / span 3;
    }

    .main-nav {
        grid-column: 4 / span 9;
    }

    .profile {
        /*col-start 1 is assumed*/
        grid-column: col-start / span 3;
        grid-row: 3 / span 1;
    }

    .resume {
        grid-column: col-start 4 / span 9;
        grid-row: 3 / span 1;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    .main-footer {
        grid-row: 5;
    }
}
