/* best practice for box-sizing
            https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    box-sizing: content-box;
}

body {
    background-color: #dadada;
}

a {
    color: #425cbb;
}

.layout {
    display: grid;
    max-width: 1024px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
}

.layout > * {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: white;
    text-align: center;
    font-size: 10pt;
}

.header a {
    color: white;
}

.footer .copyright {
    font-size: x-small;
}

.profile > section {
    padding-bottom: 10px;
}

.profile section .name {
    font-size: larger;
    font-weight: bold;
}

.profile div.center {
    display: flex;
    justify-content: space-around;
}

.profile img {
    width: 100%;
    max-width: 400px;
}

.nav-component {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.nav-component .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.nav-component .links a {
    padding-right: 10px;
}

.nav-component .links a.selected {
    font-weight: bolder;
}

.login {
    position: relative;
    float: right;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
    /*width: 50%;*/
    text-align: right;
}

.login > div.input {
    margin-bottom: 5px; 
}

article {
    /*This prevents the article from growing outside of the grid and its content to break and wrap*/
    min-width:0%;
    overflow-wrap: break-word;
}

.Toastify__toast--error {
    background: #94182f;
}

@media (min-width: 600px) {
    .layout {
        grid-template-columns: [left-gutter] .1fr [sidebar] 4fr [content] 8fr [right-gutter] .1fr;
        grid-template-rows: [header] 50px [body] auto [footer] 50px;
        grid-gap: 5px 10px;
    }

    .header {
        grid-row: header;
        grid-column: sidebar
    }

    .footer {
        grid-row: footer;
        grid-column: sidebar / right-gutter;
    }

    .nav {
        grid-row: header;
        grid-column: content;
    }

    .profile {
        grid-row: body;
        grid-column: sidebar;
    }

    .content {
        grid-row: body;
        grid-column: content;
    }
    
    .profile img {
        width: 100%;
        max-width: 250px;
    }
}