#demos .employee-editor .error {
    background-color: #fff6f6;
    border: 1px solid red;
}

#demos .employee-editor .ui.label {
    background: #94182f;
    color: white;
    max-width: 200px;
}

#demos .employee-editor section span {
    min-width: 150px;
    font-weight: bold;
}

#demos .employee-editor div.formWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#demos .employee-editor section {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 10px;
    min-width: 200px;
}

#demos .employee-editor label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 300px;
    min-width: 100px;
}

#demos .employee-editor label input {
    width: 75px;
}
#demos .employee-editor label input#name {
    width: 200px;
}

        @media (min-width: 600px) {
            #demos .employee-editor form {
                /*display: grid;
        grid-template-columns: [left] 4fr [right] 4fr;
        font: 1em Helvetica, arial, sans-serif;*/
            }

            #demos .employee-editor label {
                /*display: flex;
        flex-direction: row;*/
            }
        }
