#demos .demoWrapper {
    height: 100%;
}

#demos .demoWrapper table thead {
    display: none;
}

#demos .demoDropdown {
    background-color: ghostwhite !important;
    border-radius: 5px !important;
    padding: 10px;
}

@media (min-width: 600px) {
    
}

@media only screen and (min-width: 767px) {
    #demos .demoWrapper table thead {
        display: contents;
    }
}